<div class="row white">
    <div class="col s12">
        <div class="row">
            <h4 class="center-align">Cartelera Semanal</h4>
        </div>
        <div class="row ">
            <div class="col s12 m2 l2 card"  *ngFor="let item of arrayweekly">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" [src]="item" [alt]="item" >
                </div>
                <div class="card-content">
                    <a><fa-icon [icon]="faHeart" [style.color]="'#0d47a1'"></fa-icon></a>
                    <a><fa-icon [icon]="faYoutube" [style.color]="'red'"></fa-icon></a>
                    <a><fa-icon [icon]="faStar" [style.color]="'#ffd600'"></fa-icon></a>
                    <a><fa-icon [icon]="faLanguage" [style.color]="'black'"></fa-icon></a>
                    <a><fa-icon [icon]="faShareNodes" [style.color]="'green'"></fa-icon></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
</div>