<footer class="page-footer blue accent-4">
    <div class="container">
        <div class="row">
            <div class="col m3 l3 s12">
                <h5 class="white-text">Clientes</h5>
                <ul>
                    <li class="grey-text text-lighten-4">Nosotros</li>
                    <li class="grey-text text-lighten-4">Salas y Formatos</li>
                    <li class="grey-text text-lighten-4">Terminos y Condiciones</li>
                    <li class="grey-text text-lighten-4">Trabaja con nosotros</li>
                </ul>
            </div>
            <div class="col m3 l3  s12">
                <h5 class="white-text">Visitantes</h5>
                <ul>
                    <li class="grey-text text-lighten-4">Contactenos</li>
                    <li class="grey-text text-lighten-4">Encuesta</li>
                    <li class="grey-text text-lighten-4">Publicidad</li>
                    <li class="grey-text text-lighten-4">Eventos</li>
                </ul>
            </div>
            <div class="col m3 l3 s12">
                <h5 class="white-text">Proveedores</h5>
                <ul>
                    <li class="grey-text text-lighten-4">Cartelera</li>
                    <li class="grey-text text-lighten-4">Proximamente</li>
                    <li class="grey-text text-lighten-4">Preventa</li>
                    <li class="grey-text text-lighten-4">Escribenos</li>
                </ul>
            </div>
            <div class="col m3 l3 s12">
                <h5 class="white-text">Descarga la App</h5>
                <ul>
                    <li class="grey-text text-lighten-4 ">
                        <img src="../../../../assets/imagenes/redes/appStore.png" alt="appStore">
                    </li>
                    <li class="grey-text text-lighten-4 redes">
                        <img src="../../../../assets/imagenes/redes/googlePlay.png" alt="googlePlay">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright indigo darken-4">
        <div class="container center">
            Copyright © 2023 - Bryan Flechas. All rights reserved.
        </div>
    </div>
</footer>