<nav class="grey darken-3 social">
    <div class="nav-wrapper">
        <ul class="left" *ngFor="let network of socialNetworkArray">
            <li><a [href]="network.url" target="_blank">
                <fa-icon [icon]="network.icon ?? faCircleExclamation" size="2x"></fa-icon></a></li>

        </ul>
        <!-- desktop -->
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn  blue accent-4">Registro</a></li>
            <li><a class="waves-effect waves-light btn light-blue accent-3">Iniciar Sesión</a></li>
        </ul>

        <!-- mobile -->
        <ul class="right hide-on-large-only">
            <li><a class="waves-effect waves-light btn-floating light-blue accent-3">
                <fa-icon class="logicons" [icon]="generateIcon('UserPlus')" [style.fontSize.px]="24" [style.margin.top.px]="5"></fa-icon>
            </a></li>
            <li><a class="waves-effect waves-light btn-floating blue accent-4">
                <fa-icon class="logicons" [icon]="generateIcon('ArrowRightToBracket')" size="2x"></fa-icon>
            </a></li>
        </ul>
    </div>
</nav>